################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MarsRover.Test/obj
/MarsRover.Test/bin/Debug/netcoreapp3.1
/MarsRover.Core/obj
/MarsRover.Core/bin/Debug/netcoreapp3.1
/MarsRover/obj
/MarsRover/bin/Debug/netcoreapp3.1
/.vs/MarsRover/v16/.suo
/.vs/MarsRover/DesignTimeBuild/.dtbcache.v2
